@model FoodieProject.Models.Restaurant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Restaurant</h4>
<hr />
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script>
    function initialize() {
        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 32.082796, lng: 34.793785 },
            zoom: 15,
        });
        const input = document.getElementById("Name");
        const options = {
            componentRestrictions: { country: "il" }, // Restrict search to israel only.
            fields: ["place_id", "formatted_phone_number", "geometry", "name", "address_component", "price_level", "rating"], // the place search will return this fields as the .getDetails function api.
            origin: map.getCenter(),
            strictBounds: false, // Does not strict the bounds of the search, false is by default but mentioned to make sure.
            types: ["establishment"], // Restricts search to only businesses.
        };
        const autocomplete = new google.maps.places.Autocomplete(input, options);
        autocomplete.addListener("place_changed", () => {
            const place = autocomplete.getPlace();
            if (!place.geometry || !place.geometry.location) {
                window.alert("No details availble for input: " + place.name);
                return;
            }

            // Starts filling the inputs using place details from google.
            if (place.formatted_phone_number) {
                document.getElementById("Phone").value = place.formatted_phone_number;
            }
            if (place.address_components[2]) {
                document.getElementById("Address_City").value = place.address_components[2].long_name;
            }
            if (place.address_components[1].types.includes("route") || place.address_components[1].types.include("street_address")) {
                document.getElementById("Address_Street").value = place.address_components[1].long_name;
            }
            if (place.address_components[0].types.includes("street_number")) {
                document.getElementById("Address_Number").value = place.address_components[0].long_name;
            }

            // Goes over the dollars and marks them while ignoring price_level 4.
            for (let i = 1; i <= place.price_level; i++) {
                if (i == 4) {
                    continue;
                }
                document.getElementById("dollar" + i).checked = true;
            }
            // Goes over the stars till reaching the restaurant's rating (rounded) by google and marks the stars.
            for (let i = 1; i < Math.round(place.rating); i++) {

                document.getElementById("star" + i).checked = true;
            }
            document.getElementById("Name").value = place.name;
            document.getElementById("PlaceId").value = place.placeId;
        });

    }
</script>

<div id="map" style="width:0px;height:0px;"></div>
<div class="row">
    <div class="col-md-4">

        <!--enctype="multipart/form-data" -> in order to get the file content from user-->
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Name" class="form-control" placeholder="Enter restaurant name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </form>
        <!--enctype="multipart/form-data" -> in order to get the file contetn from user-->
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @if (ViewData.ContainsKey("ErrorRestExists"))
            {
                <div class="text-danger">@ViewData["ErrorRestExists"]</div>
            }
            <div class="form-group">
                <input asp-for="Phone" type="tel" placeholder="Phone number" pattern="[0-9-]{5,20}" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Address.City" class="form-control" placeholder="City" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Address.Street" class="form-control" placeholder="Street" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Address.Number" class="form-control" placeholder="No." />
                <span asp-validation-for="Address.Number" class="text-danger"></span>
            </div>
            <div>
                Upload Restaurant Picture <input class="form-control" type="file" name="myFile" />
            </div>
            <br />

            <div class="form-group">
                <textarea rows="5" cols="33" asp-for="About" class="form-control" placeholder="Write about the restaurant"></textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AveragePrice" class="control-label"></label>
                <br />
                <div class="price">
                    <input type="radio" id="dollar3" name="AveragePrice" value="3" required />
                    <label for="dollar3" title="text"> 3 dollars</label>
                    <input type="radio" id="dollar2" name="AveragePrice" value="2" />
                    <label for="dollar2" title="text"> 2 dollars</label>
                    <input type="radio" id="dollar1" name="AveragePrice" value="1" />
                    <label for="dollar1" title="text"> 1 dollar</label>
                </div>
                <span asp-validation-for="AveragePrice" class="text-danger"></span>
            </div>
            <br /> <br />

            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <br />
                <div class="rate">
                    <input type="radio" id="star5" name="Rate" value="5" required />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="Rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="Rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="Rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="Rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <br />
            <label asp-for="Tags" class="control-label"></label>

            @if (ViewData["serverError"] == null)
            {
                <div class="form-group row" style="width:150%">
                    <br />
                    @foreach (var tag in ViewBag.Tags)
                    {
                        <div class="col-4">
                            <input type="checkbox" name="Tags" value="@tag.Id">
                            <label>@tag.Name</label><br>
                        </div>
                    }
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group row" style="width:150%">
                    <br />
                    @foreach (var tag in ViewBag.Tags)
                    {
                        <div class="col-4">
                            <input type="checkbox" name="Tags" value="@tag.Id" checked="@ViewBag.restTags.Contains(tag)">
                            <label>@tag.Name</label><br>
                        </div>
                    }
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
            }
            <script>
                        if (@ViewData["serverError"]) {
                            prices = document.getElementsByName("AveragePrice");
                            var num = @ViewData["AveragePrice"];
                            prices[3 - num].checked = true;
                            stars = document.getElementsByName("Rate");
                            var num = @ViewData["Rate"];
                            stars[5 - num].checked = true;

                            // Care later!!! keep tags after server error on create
                            tags = document.getElementsByName("Tags");
                        }
            </script>

            <br />
            <input asp-for="Address.PlaceId" hidden class="form-control" placeholder="No." />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD97JqUBFWSHsjXRxWA89BF1sRV2l5GZho&callback=initialize&libraries=places&v=weekly" async></script>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
