@model FoodieProject.Models.Restaurant

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link rel="stylesheet" href="~/css/restDetails.css" />
@* Script to edit the open status and the reviews.*@
<script>
    function initialize() {
            service = new google.maps.places.PlacesService(googleMap);
            var openStatus;
            var reviews;
            var request = {
                placeId: '@Model.Address.PlaceId',
                fields: ['opening_hours', 'website']
            };
            service.getDetails(request, callback);
        }
    function callback(place, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
                openStatus = place.opening_hours.isOpen();
                if (openStatus) {
                    document.getElementById("restOpenStatus").style.color = 'green';
                    document.getElementById("restOpenStatus").innerHTML = "Opened";
                }
                else {
                    document.getElementById("restOpenStatus").style.color = "orangered";
                    document.getElementById("restOpenStatus").innerHTML = "Closed";
                }
                document.getElementById("websiteLink").setAttribute("href", place.website);
            }
        }
    </script>
<div id="googleMap" style="width:0px;height:0px;" hidden></div>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h1 class="title_font">@Model.Name</h1>
                <br />

                @foreach (var tag in Model.Tags)
                {
                    <div class="col-3 badge badge-secondary" style="background-color:@tag.Color">
                        <span name="Tags" value="@tag.Id" disabled></span>
                        <label>@tag.Name</label><br>
                    </div>
                }

            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p style="text-align: right;">@Html.DisplayFor(model => model.Address.Street) @Html.DisplayFor(model => model.Address.Number), @Html.DisplayFor(model => model.Address.City)</p>

                <p class="staticRate col-12">
                    <input type="radio" id="star5" name="Rate" value="5" disabled />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="Rate" value="4" disabled />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="Rate" value="3" disabled />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="Rate" value="2" disabled />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="Rate" value="1" disabled />
                    <label for="star1" title="text">1 star</label>
                </p>

                <p class="staticPrice col-12">

                    <input type="radio" id="dollar3" name="AveragePrice" value="3" disabled />
                    <label for="dollar3" title="text"> 3 dollars</label>
                    <input type="radio" id="dollar2" name="AveragePrice" value="2" disabled />
                    <label for="dollar2" title="text"> 2 dollars</label>
                    <input type="radio" id="dollar1" name="AveragePrice" value="1" disabled />
                    <label for="dollar1" title="text"> 1 dollar</label>

                </p>


                <br /><br />


                <script>
                        stars = document.getElementsByName("Rate");
                        var num = @Model.Rate;
                                stars[5 - num].checked = true;

                        prices = document.getElementsByName("AveragePrice");
                        var num = @Model.AveragePrice;
                        prices[3 - num].checked = true;
                </script>

                <p> <span class="mb-0" align="right" style="white-space: pre-line; " text-align: right;"> @Model.Phone</span><i class="fas fa-phone float-right"></i></p><br />
                @if (@Model.About != null)
                {

                    <span id="restOpenStatus" class="open_close">Closed</span><i class="fas fa-clock float-right" style="color: #686c6d"></i>

                    <i id="arrow" class="fas fa-chevron-right" style="cursor:pointer; color:#686c6d"></i>
                    
                    <div id="abouttext" class="card" style="display:none; max-width:500px; font-size:12px; white-space: pre-line;">
                        <div class="card-body">
                            <b>Opening Hours:</b>
                            @Model.About
                            <i class="far fa-angle-right"></i>
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </div>
                    </div>

                }
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $("#restOpenStatus, #arrow").click(function () {
                            $("#abouttext").slideToggle();
                            if ($("#arrow").attr('class') == 'fas fa-chevron-right') {
                                $("#arrow").attr('class', 'fas fa-chevron-down');
                            }
                            else {
                                $("#arrow").attr('class', 'fas fa-chevron-right');
                            }
                        });
                    });
                </script>
                @*<a class="mb-0" style="white-space: pre-line">@Html.DisplayFor(model => Model.About)</a>*@
            </div><!-- / project-info-box -->
            <div class="project-info-box">
                <p><b>Dishes:</b> </p>
                <br />
                <div class="CSSgal">

                    <!-- Don't wrap targets in parent -->
                    <s id="s1"></s>
                    <s id="s2"></s>
                    <s id="s3"></s>
                    <s id="s4"></s>

                    <div class="slider">

                        @foreach (var dish in Model.Dishes)
                        {
                            <div >
                                <img src="~/Pictures/Dish/@dish.PicturePath"  class="img_dish"/>
                            </div>
                        }
                    </div>

                    <div class="prevNext">
                        <div ><a href="#s4"> <i class="fas fa-chevron-left"> </i></a><a  href="#s2"> <i class="fas fa-chevron-right"> </i></a></div>
                        <div><a href="#s1"> <i class="fas fa-chevron-left" ></i> </a><a href="#s3"> <i class="fas fa-chevron-right"></i></a></div>
                        <div><a href="#s2"><i class="fas fa-chevron-left"></i> </a><a href="#s4"><i class="fas fa-chevron-right"></i> </a></div>
                        <div><a href="#s3"><i class="fas fa-chevron-left"></i> </a><a href="#s1"><i class="fas fa-chevron-right"></i></a></div>
                    </div>

                    <div class="bullets">
                        <a href="#s1">1</a>
                        <a href="#s2">2</a>
                        <a href="#s3">3</a>
                        <a href="#s4">4</a>
                    </div>

                </div>

            </div><!-- / project-info-box -->
            
        </div><!-- / column -->


        <div class="col-md-7">
          
                    <img src=@ViewData["picPath"]@Html.DisplayFor(model => model.PicturePath) alt="restaurant picture" class="rounded img_rest">
               
            <div class="map">
                <iframe width="585"
                        height="220"
                        style="border:0"
                        loading="lazy"
                        allowfullscreen
                        src='https://www.google.com/maps/embed/v1/place?key=AIzaSyD97JqUBFWSHsjXRxWA89BF1sRV2l5GZho&q=@(Model.Name),@(Model.Address.City)+@(Model.Address.Street)'>
                </iframe>
            </div>
            <br />
            <div class="project-info-box mt-0 mb-0">
                <p class="mb-0">
                    <b> <span class="fw-bold mr-10 va-middle hide-mobile">Share:</span></b>
                    <a href="https://www.facebook.com/MilgoMilbar/" class="btn btn-xs btn-facebook btn-circle btn-icon mr-5 mb-0" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/milgomilbar/" class="btn btn-xs btn-instagram btn-circle btn-icon mr-5 mb-0" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="btn btn-xs btn-linkedin btn-circle btn-icon mr-5 mb-0" target="_blank" rel="noopener noreferrer" id="websiteLink"><i class="fa fa-globe"></i></a>
                </p>
            </div><!-- / project-info-box -->
        <br />
            <div class="edit_delete_details form_text_font ">
                @if (this.User.IsInRole("Admin"))
                {
                    <a class="edit_delete_details form_text_font" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <a> | </a> <a class="edit_delete_details form_text_font" asp-controller="Dishes" asp-action="Create" asp-route-RestId="@Model.Id">Add Dish</a> <a> | </a>
                }
                <a class="edit_delete_details form_text_font" asp-action="Index">Back to List</a>
            </div>
        </div><!-- / column -->
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD97JqUBFWSHsjXRxWA89BF1sRV2l5GZho&callback=initialize&libraries=places&v=weekly" async></script>
 
</div>
