@model FoodieProject.Models.Restaurant

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/restaurantdetails.css" />

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD97JqUBFWSHsjXRxWA89BF1sRV2l5GZho&libraries=places"></script>
<script>

    var map;
    var locationId;

    function initialize() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 32.082796, lng: 34.793785 },
            zoom: 15
        });
        var request = {
            location: map.getCenter(),
            radius: '500',
            query: '@Model.Name, @Model.Address.City'
        };
        
        var service = new google.maps.places.PlacesService(map);
        service.textSearch(request, parseId);
        if (locationId != null) {
            alert("hi");
            request = {
                placeId: locationId,
                fields: ['name', 'formatted_phone_number', 'price_level', 'opening_hours']
            }
            service.getDetails(request, parseDetails);
        }
    }
    function parseId(results, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
            var marker = new google.maps.Marker({
                map: map,
                place: {
                    placeId: results[0].place_id,
                    location: results[0].geometry.location
                }
                
            });
            locationId = results[0].place_id;
            document.getElementById('price_lvl').innerHTML = locationId;
        }
    }
    function parseDetails(place, status) {
        document.getElementById('price_lvl').innerHTML = place.price_level;
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="price_lvl"></div>
<div id="map"></div>
@* FROM HERE IS ORIGINAL DETAILS *@
<div>
    <section class="product">
        <div class="product__photo">
            <div class="photo-container">
                <div class="photo-main">
                    <img src=@ViewData["picPath"]@Html.DisplayFor(model => model.PicturePath) alt="restaurant picture">
                </div>
                <div class="map">
                    <iframe width="500"
                            height="220"
                            style="border:0"
                            loading="lazy"
                            allowfullscreen
                            src='https://www.google.com/maps/embed/v1/place?key=AIzaSyD97JqUBFWSHsjXRxWA89BF1sRV2l5GZho&q=@(Model.Name),@(Model.Address.City)+@(Model.Address.Street)'>
                    </iframe>
                </div>
            </div>
        </div>
        <div class="product__info">
            <div class="title">
                <h1>@Model.Name</h1>
            </div>
            <div class="sub-title" style="font-family:'Calibri Light'">
                <span>@Html.DisplayFor(model => model.Address.Street) @Html.DisplayFor(model => model.Address.Number), @Html.DisplayFor(model => model.Address.City)</span>
            </div>
            <div class="staticPrice col-sm-2">
                <input type="radio" id="dollar3" name="AveragePrice" value="3" disabled />
                <label for="dollar3" title="text"> 3 dollars</label>
                <input type="radio" id="dollar2" name="AveragePrice" value="2" disabled />
                <label for="dollar2" title="text"> 2 dollars</label>
                <input type="radio" id="dollar1" name="AveragePrice" value="1" disabled />
                <label for="dollar1" title="text"> 1 dollar</label>
            </div>
            <div class="staticRate">
                <input type="radio" id="star5" name="Rate" value="5" disabled />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="Rate" value="4" disabled />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="Rate" value="3" disabled />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="Rate" value="2" disabled />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="Rate" value="1" disabled />
                <label for="star1" title="text">1 star</label>
            </div>
            <script>
                        stars = document.getElementsByName("Rate");
                        var num = @Model.Rate;
                                stars[5 - num].checked = true;
</script>
            <script>
                        prices = document.getElementsByName("AveragePrice");
                        var num = @Model.AveragePrice;
                        prices[3 - num].checked = true;
            </script>
            <br />
            <div class="description">
                @foreach (var tag in Model.Tags)
                {
                    <div class="col-3 badge badge-secondary" style="background-color:@tag.Color">
                        <span name="Tags" value="@tag.Id" disabled></span>
                        <label>@tag.Name</label><br>
                    </div>
                }
            </div>
            <br />
            <div class="sub-title" style="font-family:'Calibri Light'">
                DISHES
            </div>
            <ul>
                @foreach (var dish in Model.Dishes)
                {
                    <li>@dish.Name - <i>@dish.Price NIS</i></li>
                }
            </ul>
            @if (@Model.About != null)
            {
                <button id="aboutbtn" class="btn btn-primary btn-sm">ABOUT</button>
                <br />
                <br />
                <div id="abouttext" class="card" style="display:none; max-width:500px;">
                    <div class="card-body">
                        @Model.About
                    </div>
                </div>
            }
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                $(document).ready(function () {
                    $("#aboutbtn").click(function () {
                        $("#abouttext").slideToggle();
                    });
                });
            </script>
        </div>
        <div>
            @if (this.User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <a> | </a> <a asp-controller="Dishes" asp-action="Create" asp-route-RestId="@Model.Id">Add Dish</a> <a> | </a>
            }
            <a asp-action="Index">Back to List</a>
        </div>
    </section>
</div>

