@model FoodieProject.Models.Restaurant

@{
    ViewData["Title"] = "Details";
}

<style>
    body {
        background-color: #7c939c;
        margin-top: 20px;
    }
    /*------- portfolio -------*/
    .project {
        margin: 15px 0;
    }

    .no-gutter .project {
        margin: 0 !important;
        padding: 0 !important;
    }

    .has-spacer {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .has-spacer-extra-space {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .has-side-spacer {
        margin-left: 30px;
        margin-right: 30px;
    }

    .project-title {
        font-size: 1.25rem;
    }

    .project-skill {
        font-size: 0.9rem;
        font-weight: 400;
        letter-spacing: 0.06rem;
    }

    .project-info-box {
        margin: 15px 0;
        background-color: #fff;
        padding: 30px 40px;
        border-radius: 5px;
    }

        .project-info-box p {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #d5dadb;
        }

            .project-info-box p:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }

    img {
        height: auto;
        -webkit-backface-visibility: hidden;
        max-width: 110%;
    }

    .rounded {
        border-radius: 5px !important;
    }

    .btn-xs.btn-icon {
        width: 34px;
        height: 34px;
        max-width: 34px !important;
        max-height: 34px !important;
        font-size: 10px;
        line-height: 34px;
    }
    /* facebook button */
    .btn-facebook, .btn-facebook:active, .btn-facebook:focus {
        color: #fff !important;
        background: #4e68a1;
        border: 2px solid #4e68a1;
    }

        .btn-facebook:hover {
            color: #fff !important;
            background: #3b4f7a;
            border: 2px solid #3b4f7a;
        }

    .btn-facebook-link, .btn-facebook-link:active, .btn-facebook-link:focus {
        color: #4e68a1 !important;
        background: transparent;
        border: none;
    }

        .btn-facebook-link:hover {
            color: #3b4f7a !important;
        }

    .btn-outline-facebook, .btn-outline-facebook:active, .btn-outline-facebook:focus {
        color: #4e68a1 !important;
        background: transparent;
        border: 2px solid #4e68a1;
    }

        .btn-outline-facebook:hover {
            color: #fff !important;
            background: #4e68a1;
            border: 2px solid #4e68a1;
        }

    /* twitter button */
    .btn-twitter, .btn-twitter:active, .btn-twitter:focus {
        color: #fff !important;
        background: #65b5f2;
        border: 2px solid #65b5f2;
    }

        .btn-twitter:hover {
            color: #fff !important;
            background: #5294c6;
            border: 2px solid #5294c6;
        }

        .btn-twitter:hover {
            color: #fff !important;
            background: #5294c6;
            border: 2px solid #5294c6;
        }

    .btn-twitter-link, .btn-twitter-link:active, .btn-twitter-link:focus {
        color: #65b5f2 !important;
        background: transparent;
        border: none;
    }

        .btn-twitter-link:hover {
            color: #5294c6 !important;
        }

    .btn-outline-twitter, .btn-outline-twitter:active, .btn-outline-twitter:focus {
        color: #65b5f2 !important;
        background: transparent;
        border: 2px solid #65b5f2;
    }

        .btn-outline-twitter:hover {
            color: #fff !important;
            background: #65b5f2;
            border: 2px solid #65b5f2;
        }

    /* google button */
    .btn-google, .btn-google:active, .btn-google:focus {
        color: #fff !important;
        background: #e05d4b;
        border: 2px solid #e05d4b;
    }

        .btn-google:hover {
            color: #fff !important;
            background: #b94c3d;
            border: 2px solid #b94c3d;
        }

    .btn-google-link, .btn-google-link:active, .btn-google-link:focus {
        color: #e05d4b !important;
        background: transparent;
        border: none;
    }

        .btn-google-link:hover {
            color: #b94c3d !important;
        }

    .btn-outline-google, .btn-outline-google:active, .btn-outline-google:focus {
        color: #e05d4b !important;
        background: transparent;
        border: 2px solid #e05d4b;
    }

        .btn-outline-google:hover {
            color: #fff !important;
            background: #e05d4b;
            border: 2px solid #e05d4b;
        }

    /* linkedin button */
    .btn-linkedin, .btn-linkedin:active, .btn-linkedin:focus {
        color: #fff !important;
        background: #2083bc;
        border: 2px solid #2083bc;
    }

        .btn-linkedin:hover {
            color: #fff !important;
            background: #186592;
            border: 2px solid #186592;
        }

    .btn-linkedin-link, .btn-linkedin-link:active, .btn-linkedin-link:focus {
        color: #2083bc !important;
        background: transparent;
        border: none;
    }

        .btn-linkedin-link:hover {
            color: #186592 !important;
        }

    .btn-outline-linkedin, .btn-outline-linkedin:active, .btn-outline-linkedin:focus {
        color: #2083bc !important;
        background: transparent;
        border: 2px solid #2083bc;
    }

        .btn-outline-linkedin:hover {
            color: #fff !important;
            background: #2083bc;
            border: 2px solid #2083bc;
        }

    /* pinterest button */
    .btn-pinterest, .btn-pinterest:active, .btn-pinterest:focus {
        color: #fff !important;
        background: #d2373b;
        border: 2px solid #d2373b;
    }

        .btn-pinterest:hover {
            color: #fff !important;
            background: #ad2c2f;
            border: 2px solid #ad2c2f;
        }

    .btn-pinterest-link, .btn-pinterest-link:active, .btn-pinterest-link:focus {
        color: #d2373b !important;
        background: transparent;
        border: none;
    }

        .btn-pinterest-link:hover {
            color: #ad2c2f !important;
        }

    .btn-outline-pinterest, .btn-outline-pinterest:active, .btn-outline-pinterest:focus {
        color: #d2373b !important;
        background: transparent;
        border: 2px solid #d2373b;
    }

        .btn-outline-pinterest:hover {
            color: #fff !important;
            background: #d2373b;
            border: 2px solid #d2373b;
        }

    /* dribble button */
    .btn-dribbble, .btn-dribbble:active, .btn-dribbble:focus {
        color: #fff !important;
        background: #ec5f94;
        border: 2px solid #ec5f94;
    }

        .btn-dribbble:hover {
            color: #fff !important;
            background: #b4446e;
            border: 2px solid #b4446e;
        }

    .btn-dribbble-link, .btn-dribbble-link:active, .btn-dribbble-link:focus {
        color: #ec5f94 !important;
        background: transparent;
        border: none;
    }

        .btn-dribbble-link:hover {
            color: #b4446e !important;
        }

    .btn-outline-dribbble, .btn-outline-dribbble:active, .btn-outline-dribbble:focus {
        color: #ec5f94 !important;
        background: transparent;
        border: 2px solid #ec5f94;
    }

        .btn-outline-dribbble:hover {
            color: #fff !important;
            background: #ec5f94;
            border: 2px solid #ec5f94;
        }

    /* instagram button */
    .btn-instagram, .btn-instagram:active, .btn-instagram:focus {
        color: #fff !important;
        background: #4c5fd7;
        border: 2px solid #4c5fd7;
    }

        .btn-instagram:hover {
            color: #fff !important;
            background: #4252ba;
            border: 2px solid #4252ba;
        }

    .btn-instagram-link, .btn-instagram-link:active, .btn-instagram-link:focus {
        color: #4c5fd7 !important;
        background: transparent;
        border: none;
    }

        .btn-instagram-link:hover {
            color: #4252ba !important;
        }

    .btn-outline-instagram, .btn-outline-instagram:active, .btn-outline-instagram:focus {
        color: #4c5fd7 !important;
        background: transparent;
        border: 2px solid #4c5fd7;
    }

        .btn-outline-instagram:hover {
            color: #fff !important;
            background: #4c5fd7;
            border: 2px solid #4c5fd7;
        }

    /* youtube button */
    .btn-youtube, .btn-youtube:active, .btn-youtube:focus {
        color: #fff !important;
        background: #e52d27;
        border: 2px solid #e52d27;
    }

        .btn-youtube:hover {
            color: #fff !important;
            background: #b31217;
            border: 2px solid #b31217;
        }

    .btn-youtube-link, .btn-youtube-link:active, .btn-youtube-link:focus {
        color: #e52d27 !important;
        background: transparent;
        border: none;
    }

        .btn-youtube-link:hover {
            color: #b31217 !important;
        }

    .btn-outline-youtube, .btn-outline-youtube:active, .btn-outline-youtube:focus {
        color: #e52d27 !important;
        background: transparent;
        border: 2px solid #e52d27;
    }

        .btn-outline-youtube:hover {
            color: #fff !important;
            background: #e52d27;
            border: 2px solid #e52d27;
        }

    .btn-xs.btn-icon span, .btn-xs.btn-icon i {
        line-height: 34px;
    }

    .btn-icon.btn-circle span, .btn-icon.btn-circle i {
        margin-top: -1px;
        margin-right: -1px;
    }

    .btn-icon i {
        margin-top: -1px;
    }

    .btn-icon span, .btn-icon i {
        display: block;
        line-height: 50px;
    }

    a.btn, a.btn-social {
        display: inline-block;
    }

    .mr-5 {
        margin-right: 5px !important;
    }

    .mb-0 {
        margin-bottom: 0 !important;
    }

    .btn-facebook, .btn-facebook:active, .btn-facebook:focus {
        color: #fff !important;
        background: #4e68a1;
        border: 2px solid #4e68a1;
    }

    .btn-circle {
        border-radius: 50% !important;
    }

    .project-info-box p {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #d5dadb;
    }

    p {
        font-family: "Barlow", sans-serif !important;
        font-weight: 300;
        font-size: 1rem;
        color: #686c6d;
        letter-spacing: 0.03rem;
        margin-bottom: 10px;
    }

    b, strong {
        font-weight: 700 !important;
    }

    .map {
        padding: 0.7em 1em;
        border-radius: 0 0 6px 6px;
        background-color: #fff;
    }

    #map {
        height: 400px;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

@* Script to edit the open status and the reviews.*@
<script>
    function initialize() {
            service = new google.maps.places.PlacesService(googleMap);
            var openStatus;
            var reviews;
            var request = {
                placeId: '@Model.Address.PlaceId',
                fields: ['opening_hours', 'reviews']
            };
            service.getDetails(request, callback);
        }
    function callback(place, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
                openStatus = place.opening_hours.open_now;
                
                if (openStatus) {
                    document.getElementById("restOpenStatus").className = "badge bg-success";
                    document.getElementById("restOpenStatus").innerHTML = "Open";
                }
                else {
                    document.getElementById("restOpenStatus").className = "badge bg-danger";
                    document.getElementById("restOpenStatus").innerHTML = "Closed";
                }
                reviews = place.reviews;
                for (let i = 0; i <= 2; i++) {
                    document.getElementById("reviewHead" + i).innerHTML = reviews[i].author_name;
                    document.getElementById("review" + i).innerHTML = reviews[i].text;
                }
            }
        }
    </script>
<div id="googleMap" style="width:0px;height:0px;" hidden></div>

<div class="container">
    <div class="row">



        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h1>@Model.Name</h1> 
                <span id="restOpenStatus" class="badge bg-danger">Closed</span>
                <br />

                @foreach (var tag in Model.Tags)
                {
                    <div class="col-3 badge badge-secondary" style="background-color:@tag.Color">
                        <span name="Tags" value="@tag.Id" disabled></span>
                        <label>@tag.Name</label><br>
                    </div>
                }

            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p style="text-align: right;">@Html.DisplayFor(model => model.Address.Street) @Html.DisplayFor(model => model.Address.Number), @Html.DisplayFor(model => model.Address.City)</p>

                <p class="staticRate col-12">
                    <input type="radio" id="star5" name="Rate" value="5" disabled />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="Rate" value="4" disabled />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="Rate" value="3" disabled />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="Rate" value="2" disabled />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="Rate" value="1" disabled />
                    <label for="star1" title="text">1 star</label>
                </p>

                <p class="staticPrice col-12">

                    <input type="radio" id="dollar3" name="AveragePrice" value="3" disabled />
                    <label for="dollar3" title="text"> 3 dollars</label>
                    <input type="radio" id="dollar2" name="AveragePrice" value="2" disabled />
                    <label for="dollar2" title="text"> 2 dollars</label>
                    <input type="radio" id="dollar1" name="AveragePrice" value="1" disabled />
                    <label for="dollar1" title="text"> 1 dollar</label>

                </p>



                <br /><br />


                <script>
                        stars = document.getElementsByName("Rate");
                        var num = @Model.Rate;
                                stars[5 - num].checked = true;

                        prices = document.getElementsByName("AveragePrice");
                        var num = @Model.AveragePrice;
                        prices[3 - num].checked = true;
                </script>

                @*<span class="mb-0" align="right" style="white-space: pre-line"> @Model.About</span>*@
                <a class="mb-0" style="white-space: pre-line">@Html.DisplayFor(model => Model.About)</a>
            </div><!-- / project-info-box -->

            <div class="project-info-box mt-0 mb-0">
                <p class="mb-0">
                    <span class="fw-bold mr-10 va-middle hide-mobile">Share:</span>
                    <a href="#x" class="btn btn-xs btn-facebook btn-circle btn-icon mr-5 mb-0"><i class="fab fa-facebook-f"></i></a>
                    <a href="#x" class="btn btn-xs btn-twitter btn-circle btn-icon mr-5 mb-0"><i class="fab fa-twitter"></i></a>
                    <a href="#x" class="btn btn-xs btn-pinterest btn-circle btn-icon mr-5 mb-0"><i class="fab fa-pinterest"></i></a>
                    <a href="#x" class="btn btn-xs btn-linkedin btn-circle btn-icon mr-5 mb-0"><i class="fab fa-linkedin-in"></i></a>
                </p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->


        <div class="col-md-7">

            <img src=@ViewData["picPath"]@Html.DisplayFor(model => model.PicturePath) alt="restaurant picture" class="rounded">

            <div class="map">
                <iframe width="585"
                        height="220"
                        style="border:0"
                        loading="lazy"
                        allowfullscreen
                        src='https://www.google.com/maps/embed/v1/place?key=AIzaSyD97JqUBFWSHsjXRxWA89BF1sRV2l5GZho&q=@(Model.Name),@(Model.Address.City)+@(Model.Address.Street)'>
                </iframe>
            </div>
            <div class="project-info-box">
                <p><b>Categories:</b> Design, Illustration</p>
                <p><b>Skills:</b> Illustrator</p>
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold" id="reviewHead0">Subheading</div>
                            <p id="review0"></p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold" id="reviewHead1">Subheading</div>
                            <p id="review1"></p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold" id="reviewHead2">Subheading</div>
                            <p id="review2"></p>
                        </div>
                    </li>
                </ol>

            </div><!-- / project-info-box -->
        </div><!-- / column -->
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD97JqUBFWSHsjXRxWA89BF1sRV2l5GZho&callback=initialize&libraries=places&v=weekly" async></script>