@model FoodieProject.Models.Restaurant

@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>

<h4>Restaurant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Street" class="control-label"></label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Number" class="control-label"></label>
                <input asp-for="Address.Number" class="form-control" />
                <span asp-validation-for="Address.Number" class="text-danger"></span>
            </div>
            <div>
                Upload New Restaurant Picture<br><a class="alert-danger">The old picture will be deleted</a><input class="form-control" type="file" name="newPic" />
            </div>
            <br />

            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <textarea rows="5" cols="33" asp-for="About" class="form-control"></textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AveragePrice" class="control-label"></label>
                <br />
                <div class="price">
                    <input type="radio" id="dollar3" name="AveragePrice" value="3" />
                    <label for="dollar3" title="text"> 3 dollars</label>
                    <input type="radio" id="dollar2" name="AveragePrice" value="2" />
                    <label for="dollar2" title="text"> 2 dollars</label>
                    <input type="radio" id="dollar1" name="AveragePrice" value="1" />
                    <label for="dollar1" title="text"> 1 dollar</label>
                </div>
                <span asp-validation-for="AveragePrice" class="text-danger"></span>
            </div>
            <script>
                prices = document.getElementsByName("AveragePrice");
                var num = @ViewData["AveragePrice"];
                prices[3 - num].checked = true;
            </script>
            <br /> <br />

            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <br />
                <div class="rate">
                    <input type="radio" id="star5" name="Rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="Rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="Rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="Rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="Rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
                <script>
                    stars = document.getElementsByName("Rate");
                    var num = @ViewData["Rate"];
                        stars[5 - num].checked = true;
                </script>
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <br /> <br />

            <label asp-for="Tags" class="control-label"></label>
            <div class="form-group row" style="width:150%">
                <br />
                @foreach (var tag in ViewBag.Tags)
                {
                <div class="col-4">
                    <input type="checkbox" name="Tags" value="@tag.Id" checked="@Model.Tags.Contains(tag)">
                    <label>@tag.Name</label><br>
                </div>
                }
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
