@model FoodieProject.Models.Restaurant

@{
    ViewData["Title"] = "Edit";
}
<h1 class="title_font text_shadow">Edit Restaurant</h1>
<hr class="form_hr" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="form_danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label form_text_font"></label>
                <input asp-for="Name" class="form-control form-control-light" />
                <span asp-validation-for="Name" class="form_danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.PlaceId" class="control-label form_text_font"></label>
                <input asp-for="Address.PlaceId" class="form-control form-control-light" />
                <span asp-validation-for="Address.PlaceId" class="form_danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label form_text_font"></label>
                <input asp-for="Phone" class="form-control form-control-light" />
                <span asp-validation-for="Phone" class="form_danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label form_text_font"></label>
                <input asp-for="Address.City" class="form-control form-control-light" />
                <span asp-validation-for="Address.City" class="form_danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Street" class="control-label form_text_font"></label>
                <input asp-for="Address.Street" class="form-control form-control-light" />
                <span asp-validation-for="Address.Street" class="form_danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Number" class="control-label form_text_font"></label>
                <input asp-for="Address.Number" class="form-control form-control-light" />
                <span asp-validation-for="Address.Number" class="form_danger"></span>
            </div>
            <div>
                <label class="control-label form_text_font">Upload New Restaurant Picture</label><br><a class="alert-danger">The old picture will be deleted</a><input class="form-control form-control-light" type="file" name="newPic" />
            </div>
            <br />

            <div class="form-group">
                <label asp-for="About" class="control-label form_text_font"></label>
                <textarea rows="5" cols="33" asp-for="About" class="form-control form-control-light"></textarea>
                <span asp-validation-for="About" class="form_danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AveragePrice" class="control-label form_text_font"></label>
                <br />
                <div class="price">
                    <input type="radio" id="dollar3" name="AveragePrice" value="3" />
                    <label for="dollar3" title="text"> 3 dollars</label>
                    <input type="radio" id="dollar2" name="AveragePrice" value="2" />
                    <label for="dollar2" title="text"> 2 dollars</label>
                    <input type="radio" id="dollar1" name="AveragePrice" value="1" />
                    <label for="dollar1" title="text"> 1 dollar</label>
                </div>
                <span asp-validation-for="AveragePrice" class="form_danger"></span>
            </div>
            <br /> <br />
            <div class="form-group">
                <label asp-for="Rate" class="control-label form_text_font"></label>
                <br />
                <div class="rate">
                    <input type="radio" id="star5" name="Rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="Rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="Rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="Rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="Rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
                <span asp-validation-for="Rate" class="form_danger"></span>
            </div>
            <br /> <br />
            <label asp-for="Tags" class="control-label form_text_font"></label>
            <div class="form-group row" style="width:150%">
                <br />
                @foreach (var tag in ViewBag.Tags)
                {
                    <div class="col-4">
                        <input type="checkbox" name="Tags" value="@tag.Id" checked="@Model.Tags.Contains(tag)">
                        <label class="tags_titles">@tag.Name</label><br>
                    </div>
                }
                <span asp-validation-for="Tags" class="form_danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-light" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="edit_delete_details form_text_font" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
                prices = document.getElementsByName("AveragePrice");
                var num = @Model.AveragePrice;
                prices[3 - num].checked = true;

                stars = document.getElementsByName("Rate");
                var num = @Model.Rate;
                stars[5 - num].checked = true;
    </script>
}
