@model IEnumerable<FoodieProject.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}

<h1>Our Restaurants</h1>

@if (this.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}


<div class="pos-f-t">

    <nav class="navbar navbar-light bg-light">

        <button title="Advanced search" id="advancedSearch" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="float">
            <div class="input-group rounded">
                <input name="qBasicRest" id="qBasicRest" type="search" class="form-control rounded" placeholder="Search restaurant by name" aria-label="Search"
                       aria-describedby="search-addon" size = "24"/>

            </div>

        </div>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-light p-4">
            <h4 class="text-black-50">Advanced Search</h4>
       
            <form asp-action="Search" id="SearchComplexAjaxForm" class="float">
                <div class="container">
                    <div class="row">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">$</span>
                            </div>
                            <input type="text" class="form-control col-3" name="qRest" id="qRest" placeholder="Restaurant Name" aria-label="Restaurant Name" aria-describedby="basic-addon1">

                            <div class="col-1"></div>

                            <div class="input-group-prepend">
                                <label class="input-group-text" for="qRate">Rate</label>
                            </div>
                            <select class="custom-select col-3" name="qRate" id="qRate">
                                <option value="0" selected hidden disabled>Choose...</option>
                                <option value="1">Poor +</option>
                                <option value="2">Ok +</option>
                                <option value="3">Nice +</option>
                                <option value="4">Good +</option>
                                <option value="5">Excelent +</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">$</span>
                            </div>
                            <input type="text" class="form-control col-3" name="qAddr" id="qAddr" placeholder="Address Search" aria-label="Address Search" aria-describedby="basic-addon1">

                            <div class="col-1"></div>

                            <div class="input-group-prepend">
                                <label class="input-group-text" for="qPrice">Price</label>
                            </div>
                            <select class="custom-select col-3" name="qPrice" id="qPrice">
                                <option value="0" selected disabled hidden>Choose..</option>
                                <option value="1">Cheap</option>
                                <option value="2">Moderate</option>
                                <option value="3">Expensive</option>
                            </select>
                        </div>

                    </div>

                    <div class="input-group mb-3">
                        <div class="form-group row" style="width:150%">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="qPrice">Tags</label>
                            </div>
                            <br />
                            @foreach (var tag in ViewBag.Tags)
                            {
                                <div class="col-2">
                                    <input type="checkbox" name="qTags" value="@tag.Id">
                                    <label>@tag.Name</label><br>
                                </div>
                            }
                        </div>
                    </div>

                </div>

                    <br />

                    <input type="submit" value="Search" class="btn btn-primary" />
</form>
        </div>
    </div>
</div>


<br>
<div class="container">
    <div class="row" id="toClean">

        @foreach (var item in Model)
        {

            <div class="col-xl-3 col-lg-auto col-md-auto col-sm-auto" style="margin-top: 1rem;">
                <div class="card h-100">
                    <img class="card-img-top" src=@ViewData["picPath"]@item.PicturePath style="max-width: 450px; max-height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text"> @item.Address.Street @item.Address.Number, @item.Address.City</p>
                        <div class="staticRate">
                            <input type="radio" id="star5" name="Rate @item.Id" value="5" disabled />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="Rate @item.Id" value="4" disabled />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="Rate @item.Id" value="3" disabled />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="Rate @item.Id" value="2" disabled />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="Rate @item.Id" value="1" disabled />
                            <label for="star1" title="text">1 star</label>
                        </div>
                        <script>
                    stars = document.getElementsByName("Rate @item.Id");
                    var num = @item.Rate;
                            stars[5 - num].checked = true;
                        </script>

                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Go Resturant</a>
                        @if (this.User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn ">Delete</a>
                        }

                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts
{
    <div hidden type="text/html" id="hidden-template">
        <div class="col-xl-3 col-lg-auto col-md-auto col-sm-auto">
            <div class="card h-100">
                <img class="card-img-top" src="@ViewData["picPath"]{restPicPath}" style="max-width: 450px; max-height: 300px" />
                <div class="card-body">
                    <h5 class="card-title">{restName}</h5>
                    <p class="card-text"> {restStreet} {restAddrNum}, {restCity}</p>
                    <div class="staticRate">
                        <input type="radio" id="star5" name="Rate {restId}" value="5" disabled />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="Rate {restId}" value="4" disabled />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="Rate {restId}" value="3" disabled />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="Rate {restId}" value="2" disabled />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="Rate {restId}" value="1" disabled />
                        <label for="star1" title="text">1 star</label>
                    </div>
                    <script>
                        var rateSet = "Rate " + {restId};
                        stars = document.getElementsByName(rateSet);
                        var num = {restRate};
                        stars[5 - num].checked = true;
                    </script>

                    <a href="/Restaurants/details/{restId}" class="btn btn-primary">Go Resturant</a>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a href="/Restaurants/delete/{restId}" class="btn ">Delete</a>
                    }

                </div>
            </div>
        </div>
    </div>
}
