@model IEnumerable<FoodieProject.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}

<h1>Our Restaurants</h1>

@if (this.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<form asp-action="Search" id="SearchComplexAjaxForm" class="float-md-right">
    Restaurant Filter <input name="qRest" id="qRest" placeholder="Ender address to search" />
    <br>
    Address Filter <input name="qAddr" id="qAddr" placeholder="Ender address to search" />
    <br />
    Tags
    <div class="form-group row" style="width:150%">
        <br />
        @foreach (var tag in ViewBag.Tags)
        {
            <div class="col-2">
                <input type="checkbox" name="qTags" value="@tag.Id">
                <label>@tag.Name</label><br>
            </div>
        }
    </div>
    <input type="submit" value="Search" class="btn btn-primary" />
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row" id="toClean">
        
            @foreach (var item in Model)
            {

                <div class="col-3">
                    <div class="card h-100">
                        <img class="card-img-top" src=@ViewData["picPath"]@item.PicturePath style="max-width: 450px; max-height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text"> @item.Address.Street @item.Address.Number, @item.Address.City</p>
                            <div class="staticRate">
                                <input type="radio" id="star5" name="Rate @item.Id" value="5" disabled />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="Rate @item.Id" value="4" disabled />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="Rate @item.Id" value="3" disabled />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="Rate @item.Id" value="2" disabled />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="Rate @item.Id" value="1" disabled />
                                <label for="star1" title="text">1 star</label>
                            </div>
                            <script>
                    stars = document.getElementsByName("Rate @item.Id");
                    var num = @item.Rate;
                            stars[5 - num].checked = true;
                            </script>

                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Go Resturant</a>
                            @if (this.User.IsInRole("Admin"))
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn ">Delete</a>
                            }

                        </div>
                    </div>
                </div>
            }

    </div>
</div>

@section Scripts 
{
    <div hidden type="text/html" id="hidden-template">
        <div class="col-3">
            <div class="card h-100">
                <img class="card-img-top" src="@ViewData["picPath"]{restPicPath}" style="max-width: 450px; max-height: 300px" />
                <div class="card-body">
                    <h5 class="card-title">{restName}</h5>
                    <p class="card-text"> {restStreet} {restAddrNum}, {restCity}</p>
                    <div class="staticRate">
                        <input type="radio" id="star5" name="Rate {restId}" value="5" disabled />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="Rate {restId}" value="4" disabled />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="Rate {restId}" value="3" disabled />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="Rate {restId}" value="2" disabled />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="Rate {restId}" value="1" disabled />
                        <label for="star1" title="text">1 star</label>
                    </div>
                    <script>
                        var rateSet = "Rate " + {restId};
                        stars = document.getElementsByName(rateSet);
                        var num = {restRate};
                        stars[5 - num].checked = true;
                    </script>

                    <a href="/Restaurants/details/{restId}" class="btn btn-primary">Go Resturant</a>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a href="/Restaurants/delete/{restId}" class="btn ">Delete</a>
                    }

                </div>
            </div>
        </div>
    </div>
}
