@model IEnumerable<FoodieProject.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/restaurantIndex.css" />
<h1 class="text_shadow">Our Restaurants</h1>

@if (this.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<style>
    body {
        background-image: url("../Pictures/wooden-board-empty-table-top-blurred-background.jpg");
        background-size: cover;
    }
</style>
<div class="pos-f-t">

    <nav class="navbar navbar-light bg-light">

        <button title="Advanced search" id="advancedSearch" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="float">
            <div class="input-group rounded">
                <input name="qBasicRest" id="qBasicRest" type="search" class="form-control rounded" placeholder="Search restaurant by name" aria-label="Search"
                       aria-describedby="search-addon" size="24" />
                <span class="input-group-text border-0" id="search-addon">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>

                </span>
            </div>

        </div>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-light p-4">
            <h4 class="text-black-50">Advanced Search</h4>

            <form asp-action="Search" id="SearchComplexAjaxForm" class="float">
                <div class="container">
                    <div class="row">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                                        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
                                    </svg>
                                </span>
                            </div>
                            <input type="search" class="form-control col-3" name="qRest" id="qRest" placeholder="Restaurant Name" aria-label="Restaurant Name" aria-describedby="basic-addon1">

                            <div class="col-1"></div>

                            <div class="input-group-prepend">
                                <label class="input-group-text" for="qRate">Rate</label>
                                <label class="input-group-text" for="qRate">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                    </svg>
                                </label>
                            </div>
                            <select class="custom-select col-3" name="qRate" id="qRate">
                                <option value="0" selected hidden disabled>Choose...</option>
                                <option value="1">Poor +</option>
                                <option value="2">Ok +</option>
                                <option value="3">Nice +</option>
                                <option value="4">Good +</option>
                                <option value="5">Excelent +</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    </svg>
                                </span>
                            </div>
                            <input type="search" class="form-control col-3" name="qAddr" id="qAddr" placeholder="Restaurant Address" aria-label="Address Search" aria-describedby="basic-addon1">

                            <div class="col-1"></div>

                            <div class="input-group-prepend">
                                <label class="input-group-text" for="qPrice">Price</label>
                                <label class="input-group-text" for="qPrice">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
                                    </svg>
                                </label>
                            </div>
                            <select class="custom-select col-3" name="qPrice" id="qPrice">
                                <option value="0" selected disabled hidden>Choose..</option>
                                <option value="1">Cheap</option>
                                <option value="2">Moderate</option>
                                <option value="3">Expensive</option>
                            </select>
                        </div>

                    </div>


                    <div class="row">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="qTags">Tags</label>
                                <label class="input-group-text" for="qTags">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                    </svg>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" style="width:100%">
                        @foreach (var tag in ViewBag.Tags)
                        {
                            <div class="col-2">
                                <input type="checkbox" name="qTags" value="@tag.Id">
                                <label>@tag.Name</label><br>
                            </div>
                        }

                    </div>
                </div>

                <br />

                <input type="submit" value="Search" class="btn btn-primary" />
                <input type="reset" value="Clear" class="btn btn-outline-secondary" style="float: right;" />
            </form>
        </div>
    </div>
</div>


<script>
    function initialize() {
        var invisiblePOI = [
            {
                featureType: "poi",
                elementType: "labels",
                stylers: [
                    { visibility: "off" }
                ]
            }
        ];
        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 32.082796, lng: 34.793785 },
            zoom: 10,
            styles: invisiblePOI
        });
        let restaurantId = [];
        let placeId = [];
        let restaurantName = [];
        @foreach (var item in Model)
        {
            @:restaurantId.push("@item.Id");
            @:placeId.push("@item.Address.PlaceId")
            @:restaurantName.push("@item.Name");
        }
        var service = new google.maps.places.PlacesService(map);
        for (let i = 0; i < restaurantId.length; i++) {
            service.getDetails({
                placeId: placeId[i]
            }, function (result, status) {
                    var marker = new google.maps.Marker({
                        map: map,
                        title: restaurantName[i],
                        place: {
                            placeId: placeId[i],
                            location: result.geometry.location
                        },
                        url: "Restaurants\\Details\\" + restaurantId[i],
                        icon: {
                            scaledSize: new google.maps.Size(30, 40),
                            url: "Pictures\\restMarker.png",
                            labelOrigin: new google.maps.Point(10, 48)
                        },
                        label: {
                            text: restaurantName[i],
                            color: "#ee7a3f",
                            fontWeight: "bold"}
                    });

                    marker.addListener('click', function () {
                        window.location.href = this.url;
                    });
            });
        }
    }

</script>
<br>
<button type="button" onclick="modeSwitch()" class="btn btn-primary">
    Mode <span class="badge badge-light" id="modeIndicator">Cards</span>
</button>
<br />
<script>
    function modeSwitch() {
        if (document.getElementById("cardDiv").style.display === "none") {
            document.getElementById("cardDiv").style.display = "inherit";
            document.getElementById("map").style.display = "none";
            document.getElementById("modeIndicator").innerHTML = "Cards";
        }
        else {
            document.getElementById("cardDiv").style.display = "none";
            document.getElementById("map").style.display = "inherit";
            document.getElementById("modeIndicator").innerHTML = "Map";
        }
    }
</script>
<div class="container" id="cardDiv">
    <div class="row" id="toClean">

        @foreach (var item in Model)
        {

            <div class="col-xl-3 col-lg-auto col-md-auto col-sm-auto" style="margin-top: 1rem;">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <div class="card-hover" name="cardStyle">
                        <div class="card h-100">
                            <img class="card-img-top" src=@ViewData["picPath"]@item.PicturePath style="max-width: 400px; max-height: 250px;">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text"> @item.Address.Street @item.Address.Number, @item.Address.City</p>
                                <div class="staticRate">
                                    <input type="radio" id="star5" name="Rate @item.Id" value="5" disabled />
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="Rate @item.Id" value="4" disabled />
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="Rate @item.Id" value="3" disabled />
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="Rate @item.Id" value="2" disabled />
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="Rate @item.Id" value="1" disabled />
                                    <label for="star1" title="text">1 star</label>
                                </div>
                                <script>
                    stars = document.getElementsByName("Rate @item.Id");
                    var num = @item.Rate;
                            stars[5 - num].checked = true;
                                </script>
                                @if (this.User.IsInRole("Admin"))
                                {
                                    <script>var cards = document.getElementsByClassName("card-hover");
                                    for (var i = 0; i < cards.length; i++) { cards[i].className = "card-admin"; }</script>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger text-light">Delete</a>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light">Edit</a>
                                }

                            </div>

                        </div>
                    </div>
                </a>
            </div>
        }

    </div>

    <div id="hiddenError2" class="alert alert-secondary" style="display: none;"> <h1>Sorry, we couldn't find any results ¯\_(ツ)_/¯ </h1></div>

</div>
<div id="map" style="width:100%;height:600px;display:none;"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD97JqUBFWSHsjXRxWA89BF1sRV2l5GZho&callback=initialize&libraries=places&v=weekly" async></script>

@section Scripts
{
    <div hidden type="text/html" id="hidden-template">
        <div class="col-xl-3 col-lg-auto col-md-auto col-sm-auto" style="margin-top: 1rem;">
            <a href="/Restaurants/details/{restId}">
                <div class="card-hover">
                    <div class="card h-100">
                        <img class="card-img-top" src="@ViewData["picPath"]{restPicPath}" style="max-width: 400px; max-height: 250px" />
                        <div class="card-body">
                            <h5 class="card-title">{restName}</h5>
                            <p class="card-text"> {restStreet} {restAddrNum}, {restCity}</p>
                            <div class="staticRate">
                                <input type="radio" id="star5" name="Rate {restId}" value="5" disabled />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="Rate {restId}" value="4" disabled />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="Rate {restId}" value="3" disabled />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="Rate {restId}" value="2" disabled />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="Rate {restId}" value="1" disabled />
                                <label for="star1" title="text">1 star</label>
                            </div>

                            @if (this.User.IsInRole("Admin"))
                            {
                                <script>
                                    var cards = document.getElementsByClassName("card-hover");
                                    for (var i = 0; i < cards.length; i++) { cards[i].className = "card-admin"; }</script>
                                <a href="/Restaurants/delete/{restId}" class="btn  btn-danger text-light">Delete</a>
                                <a href="/Restaurants/edit/{restId}" class="btn btn-light">Edit</a>

                            }


                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
}
