@model IEnumerable<FoodieProject.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}

<h1>Restaurants</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {

            <div class="card col-3" style="width: 18rem;">
                <img src=@ViewData["picPath"]@item.PicturePath style="max-width: 200px; max-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Address: @item.Address.Street @item.Address.Number, @item.Address.City</p>
                    <div class="rateIndex">
                        <input type="radio" id="star5" name="Rate @item.Id" value="5" disabled />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="Rate @item.Id" value="4" disabled />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="Rate @item.Id" value="3" disabled />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="Rate @item.Id" value="2" disabled />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="Rate @item.Id" value="1" disabled />
                        <label for="star1" title="text">1 star</label>
                    </div>
                    <script>
                    stars = document.getElementsByName("Rate @item.Id");
                    var num = @item.Rate;
                            stars[5 - num].checked = true;

                         document.getElementById("star1").click(function () {
                                return false;
                            });
                            document.getElementById("star2").click(function () {
                                return false;
                            });
                            document.getElementById("star3").click(function (event) {
                                event. false;
                            });

                    </script>

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Go Resturant</a>
                    <!-- <a href="/Restaurants/Details/@item.Id" class="btn btn-primary">Go Resturant</a> -->
                </div>
            </div>
            <!--  <tr>
                  <td>
                      @Html.DisplayFor(modelItem => item.Name)
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => item.Address.Street) @Html.DisplayFor(modelItem => item.Address.Number), @Html.DisplayFor(modelItem => item.Address.City)
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => item.AveragePrice)
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => item.PicturePath)
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => item.Rate)
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => item.About)
                  </td>
                  <td>
                      <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                      <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                      <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                  </td>
              </tr> -->
        }

    </div>
</div>
