@model IEnumerable<FoodieProject.Models.Address>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Search" id="SearchAjaxForm" class="float-md-right">
    <input name="query" id="query" placeholder="Ender address to search" />
    <input type="submit" value="Search" class="btn btn-primary"
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapLatitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapLongitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapLatitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapLongitude)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
<script type="text/html" id="hidden-template">
    <tr>
        <td>
            {city}
        </td>
        <td>
            {street}
        </td>
        <td>
            {number}
        </td>
        <td>
            {restName}
        </td>
        <td>
            {lat}
        </td>
        <td>
            {lon}
        </td>

        <td>
            <a href="/Addresses/Edit/{id}">Edit</a> |
            <a href="/Addresses/Details/{id}">Details</a> |
            <a href="/Addresses/Delete/{id}">Delete</a>
        </td>
    </tr>
</script>
}