@model IEnumerable<FoodieProject.Models.Address>

@{
    ViewData["Title"] = "Index";
}


<h1 class="title_font text_shadow">Addresses</h1>
<p><a class="text-light text_shadow" asp-action="Create">Create New</a></p>

<button type="button" class="btn btn-light" id="priceSwitchButton">
    Mode <span class="badge badge-dark" id="modeIndicator">Table</span>
</button>

<form asp-action="Search" id="SearchAjaxForm" class="float-md-right">
    <div class="d-flex align-items-center small non_display" id="searchBox">
        <i class="fa fa-search fa-fw text-muted position-absolute pl-3" id="icon"></i>
        <input name="query" id="query" type="search" class="form-control rounded form-control-light search_box" placeholder="Ender address to search" aria-label="Search"
               aria-describedby="search-addon" size="24" />
    </div>
</form>

<br /><br />

<table class="table text-light table-striped" id="AddressTable">
    <thead class="thead-light">
        <tr>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <th>@Html.DisplayNameFor(model => model.Street)</th>
            <th>@Html.DisplayNameFor(model => model.Number)</th>
            <th>@Html.DisplayNameFor(model => model.Restaurant.Name)</th>
            <th></th>

        </tr>
    </thead>
    <tbody class="text_shadow">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.City)</td>
                <td>@Html.DisplayFor(modelItem => item.Street)</td>
                <td>@Html.DisplayFor(modelItem => item.Number)</td>
                <td>@Html.DisplayFor(modelItem => item.Restaurant.Name)</td>

                <td class="edit_delete_details">
                    <a class="edit_delete_details" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="edit_delete_details" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="edit_delete_details" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="Area" class="text-center non_display" width="400px" heigth="460px"></div>

@section Scripts {
    <script type="text/html" id="hidden-template">
        <tr>
            <td>{city}</td>
            <td>{street}</td>
            <td>{number}</td>
            <td>{restName}</td>
          

            <td class="edit_delete_details">
                <a class="edit_delete_details" href="/Addresses/Edit/{id}">Edit</a> |
                <a class="edit_delete_details" href="/Addresses/Details/{id}">Details</a> |
                <a class="edit_delete_details" href="/Addresses/Delete/{id}">Delete</a>
            </td>
        </tr>
    </script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
        $(document).ready(function () { createGraphInput('AddressTable', 0, null) })
    </script>
}