@model FoodieProject.Models.Dish

@{
    ViewData["Title"] = "Details";
}

<h1 class="title_font text_shadow">Dish Details</h1>

<div>
   
    <hr class="form_hr"/>
    <dl class="row  ">
        <dt class="col-sm-2 details_titles">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10 text_shadow">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2 details_titles">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10 text_shadow">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2 details_titles">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10 text_shadow">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2 details_titles">
            @Html.DisplayNameFor(model => model.PicturePath)
        </dt>
        <dd class="col-sm-10 text_shadow">
            <img src=@ViewData["picPath"]@Html.DisplayFor(model => model.PicturePath) style="max-width: 200px; max-height: 200px;">
        </dd>
        <dt class="col-sm-2 details_titles">
            @Html.DisplayNameFor(model => model.RestaurantId)
        </dt>
        <dd class="col-sm-10 text_shadow">
            @Html.DisplayFor(model => model.RestaurantId)
        </dd>
    </dl>
</div>
<div>
    <a class="edit_delete_details" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>  <a class="delete_titles">|</a>
    <a class="edit_delete_details" asp-action="Index">Back to List</a>
</div>
