@model IEnumerable<FoodieProject.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1 class="title_font text_shadow">Users</h1>
<p><a class="text-light text_shadow" asp-action="RegisterAdmin">Register a new user</a></p>

<form id="SearchAjaxForm" class="float-md-right">
    <div class="d-flex align-items-center small">
        <i class="fa fa-search fa-fw text-muted position-absolute pl-3"></i>
        <input name="query" id="query" type="search" class="form-control rounded form-control-light search_box" placeholder="Enter user to search" aria-label="Search"
               aria-describedby="search-addon" size="24" />
    </div>
</form>
<br />
<br />
<table class="table text-light table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text_shadow">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    *
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td class="edit_delete_details">
                    <a class="edit_delete_details" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="edit_delete_details" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="hiddenError2" class="alert alert-secondary non_display"> <h1>Sorry, we couldn't find any results ¯\_(ツ)_/¯ </h1></div>


@section Scripts {

    <script type="text/html" id="hidden-template">
        <tr>
            <td>{username}</td>
            <td>*</td>
            <td name="userType">{type}</td>

            <td class="edit_delete_details">
                <a class="edit_delete_details" href="/Users/Edit/{id}">Edit</a> |
                <a class="edit_delete_details" href="/Users/Delete/{id}">Delete</a>
            </td>
        </tr>
    </script>
}